<div class="container">
  <div class="jumbotron" style="height: auto;">
    <div class="panel panel-primary">
      <div class="panel-heading">Campeones en Acción</div>
      <div class="panel-body">
        <div>
            <div class="well well-lg" style="margin-top: 55px;">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label>Artículos del Fútbol </label>
                    <html>
    
                    <head>
                      <title>Artículos del Fútbol </title>
                    </head>
    
                    <body>
    
                      <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                        <iframe frameborder="0" width="100%" height="315px" scrolling="no"
                          src="../../../assets/WebPages_Template/Soccer_Articles.html">Soccer Articles</iframe>                  
                        </div>
                    </body>
    
                    </html>
                  </div>
                </div>
              </div>
          </div>
        <div class="col-md-6">
          <div class="well well-lg" style="margin-top: 55px;">
            <div class="form-group row">
              <div class="col-md-12">
                <label>Versículos de Bíblia!</label>
                <html>

                <head>
                  <title>My Verse of the Day</title>
                </head>

                <body>

                  <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                    <iframe frameborder="0" width="100%" height="315px" scrolling="no"
                      src="../../../assets/WebPages_Template/Bible_Verses_Template.html">CIA Notifications</iframe>                  
                  </div>
                </body>

                </html>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well well-lg" style="margin-top: 55px;">
            <div class="form-group row">
              <div class="col-md-12">
                <label>Champions In Actions Notificaciones!</label>
                <html>

                <body>
                  <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
                    <iframe frameborder="0" width="100%" height="315px" scrolling="no"
                      src="../../../assets/WebPages_Template/Team_Notifications_Template.html">CIA Notifications</iframe>                  
                  </div>
                </body>

                </html>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>